[submodule "CSE222/CSE222-HW1"]
	path = CSE222/CSE222-HW1
	url = https://github.com/e-altunel/CSE222-HW1.git
[submodule "CSE344/CSE344-HW1"]
	path = CSE344/CSE344-HW1
	url = https://github.com/e-altunel/CSE344-HW1.git
[submodule "CSE222/CSE344-HW1"]
	path = CSE222/CSE344-HW1
	url = https://github.com/e-altunel/CSE344-HW1.git
[submodule "CSE222/CSE222-HW3"]
	path = CSE222/CSE222-HW3
	url = https://github.com/e-altunel/CSE222-HW3.git
[submodule "CSE312/Quiz3/SemaphoreTest"]
	path = CSE312/Quiz3/SemaphoreTest
	url = https://github.com/e-altunel/SemaphoreTest.git
[submodule "CSE344/CSE344-Midterm"]
	path = CSE344/CSE344-Midterm
	url = https://github.com/e-altunel/CSE344-Midterm.git
[submodule "CSE344/CSE344-HW2"]
	path = CSE344/CSE344-HW2
	url = https://github.com/e-altunel/CSE344-HW2.git
[submodule "CSE222/CSE222-HW6"]
	path = CSE222/CSE222-HW6
	url = https://github.com/e-altunel/CSE222-HW6.git
[submodule "CSE222/CSE222-HW5"]
	path = CSE222/CSE222-HW5
	url = https://github.com/e-altunel/CSE222-HW5.git
[submodule "CSE312/CSE312-Project1"]
	path = CSE312/CSE312-Project1
	url = https://github.com/e-altunel/CSE312-Project1.git
[submodule "CSE222/CSE222-HW7"]
	path = CSE222/CSE222-HW7
	url = https://github.com/e-altunel/CSE222-HW7.git
[submodule "CSE222/CSE222-HW4"]
	path = CSE222/CSE222-HW4
	url = https://github.com/e-altunel/CSE222-HW4.git
[submodule "CSE222/CSE222-HW8"]
	path = CSE222/CSE222-HW8
	url = https://github.com/e-altunel/CSE222-HW8
[submodule "CSE344/CSE344-FINAL"]
	path = CSE344/CSE344-FINAL
	url = https://github.com/e-altunel/CSE344-FINAL
