[submodule "CSE222/CSE222-HW1"]
	path = CSE222/CSE222-HW1
	url = https://github.com/e-altunel/CSE222-HW1.git
[submodule "CSE344/CSE344-HW1"]
	path = CSE344/CSE344-HW1
	url = https://github.com/e-altunel/CSE344-HW1.git
[submodule "CSE222/CSE344-HW1"]
	path = CSE222/CSE344-HW1
	url = https://github.com/e-altunel/CSE344-HW1.git
[submodule "CSE222/CSE222-HW3"]
	path = CSE222/CSE222-HW3
	url = https://github.com/e-altunel/CSE222-HW3.git
[submodule "CSE312/Quiz3/SemaphoreTest"]
	path = CSE312/Quiz3/SemaphoreTest
	url = https://github.com/e-altunel/SemaphoreTest.git
[submodule "CSE344/CSE344-Midterm"]
	path = CSE344/CSE344-Midterm
	url = https://github.com/e-altunel/CSE344-Midterm.git
